@tailwind base;
@tailwind components;

.center-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  transition: all 0.25s ease-in-out;
  @apply px-3 py-1 text-sm font-semibold;
}
.btn-red {
  @apply text-white bg-red-500 hover:bg-red-700;
}
.btn-blue {
  @apply text-white bg-blue-500 hover:bg-blue-700;
}
.btn-green {
  @apply text-white bg-green-500 hover:bg-green-700;
}
.btn-purple {
  @apply text-white bg-purple-500 hover:bg-purple-700;
}
.btn-pink {
  @apply text-white bg-pink-500 hover:bg-pink-700;
}
input {
  @apply px-3 py-1 border-2 rounded-md w-full focus:outline-blue-400;
}

@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
